
@{
	ViewBag.Title = "Main";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Main page</title>
</head>
<body>
	<div>
		<h3>This is main page</h3>
	</div>
</body>
</html>

